body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.dark-blue {
  border: 1rem solid #0B2838;
}

.gray-blue {
  border: .5rem solid #3F4E58;
}

.field-notice {
  font-size: .5rem;
  margin-bottom: 4%;
  text-align: center;
}

footer {
  height: 1rem;
  width: 100%;
  background: repeating-linear-gradient(
    -610deg,
    white,
    white 6px,
    #EEF4F5 6px,
    #EEF4F5 10px
  );
}

.form-container {
  margin: 5% 10%;
}

.form-inputs {
  margin-top: 1%;
  margin-bottom: 2%;
}

.form-labels {
  font-size: .6rem;
}

textarea {
  height: 3rem;
  padding: 1px;
  border: 1px solid #EEF4F5;
  font-family: 'Roboto Slab', serif;
  font-size: .7rem;
  font-weight: 100;
  margin-top: 1%;
  width: 100%;
}

header {
  background-color: #EEF4F5;
}

.header-message {
  text-transform: uppercase;
  margin: 0 10%;
  padding: 5% 0;
  color: black;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}

input {
  border: 1px solid #EEF4F5;
  font-family: 'Roboto Slab', serif;
  font-size: .7rem;
  font-weight: 100;
  width: 100%;
}

input[type=submit] {
  color: white;
  background-color: #71ad9d;
  display: block;
  font-size: .6rem;
  height: 1.2rem;
  margin: 0 auto;
  margin-bottom: 5%;
  text-transform: uppercase;
  width: 30%;
}

section {
  font-size: .6rem;
  margin-bottom: 5%;
}

@media (min-width: 440px) {
  .form-container {
    margin: 5% 15%;
  }
  .header-message {
    margin: 0 15%;
  }
}

@media (min-width: 768px) {
  .form-container {
    margin: 5% 15%;
  }
  .header-message {
    margin: 0 15%;
  }
}